*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 0 auto;
  width: 30%;
  border-collapse:collapse;
  box-shadow: 17px 27px 72px 1px rgba(0, 0, 0, 0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.result_container{
  border: 1px solid darkgrey;
}
.result{
  width: 100%;
  text-align: right;
  font-size: 35px;
  padding: 0;
  border: 0;
}

.full_line{
  height: 30px;
  font-size: 15px;
  color: darkgrey;
}


.buttons{
  width: 100%;
  display: flex;
}

.button{
  border-top: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  width: 33.33%;
  height: 40px;
  user-select: none;
  padding: .5em;
  transition: background .5s;
}

.button:hover{
  background: lightgrey;
}

.nums_extended_operators {
  width: 75%;
}

.numbers_pad {
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  font-weight: bold;
}

.extended_operators {
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  background: #eeebeb;
}

.basic_operators{
  width: 25%;
  display: grid;
  background: #eeebeb;
  font-size: 25px;
}



.number {
  width: 33.33%
}

.basic_operator {
  width: 100%;
  border-right: 0;
  padding: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
